/* ==========================================================================
   Extra Resets
   ========================================================================== */

* { /* Need to replace this of course */
	box-sizing: border-box;
}

html, body {
	height: 100%;
	color: rgb(200, 200, 200);
}

body{font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;}

ol, ul, menu, nav, a, a:visited, a:link, input {
	padding: 0;
	margin: 0;
	color: inherit;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

li {list-style: none;}

input {
	border-spacing: 0;
	margin: 0;
	padding: 0;
}


/* ==========================================================================
   Structure
   ========================================================================== */

menu {padding-top: .2rem;}

li, legend {margin-bottom: .1rem;}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
	overflow: scroll;
}

.editors-tabs {
	position: absolute;
	top: 0;
	width: 100%;
}

.tab {
	width: 50%;
	float: left;
	text-align: center;
}

.sidebar section {
	position: relative; /* for abs pos children */
	padding: 5px 0;
	margin: 0 10px;
}

.child {margin-left: 20px;}

.inner-section {margin-bottom: 10px;}

.scene-tree {height: 150px;}

.transform-field {display: inline-block;}

input[type=text] {
	margin: 0 0 4px 4px;
	padding-left: 4px;
	width: 200px;
}

input[type=text].var-name {
	width: 110px;
}

input[type=number] {
	margin: 0 0 4px 4px;
	padding-left: 4px;
	width: 50px;
}

input[type=color] {
	position: relative;
	bottom: -4px;
	margin-top: -10px;
	margin-bottom: -20px;
	padding: 0;
	width: 27px;
	height: 28px;
	border: none;
}

.jump-to-top {
	position: absolute;
	bottom: 0;
	right: 10px;
}


/* ==========================================================================
   Functionality
   ========================================================================== */

.scrollable {overflow: scroll;}

.invisible {visibility: hidden;}

.faux-elem {
	visibility: hidden;
	margin-bottom: 10px; /* space between tabs and section line */
}

/* CSS transition attempts leftovers, didn't work, want to try again */
/*.collapsible {-webkit-transition: height .3s linear}*/

.collapsed {
	display: hidden;
	/*height: 0;*/
}


/* ==========================================================================
   Skin
   ========================================================================== */

/* --- Basic elements --- */

h1, h2, h3, h4, h5, h6 {
	color: rgb(230, 230, 230);
}

h1 {font-size: 1.5rem;}

h2 {font-size: 1.3rem;}

h3 {font-size: 1.1rem;}

h4 {}

input {
	background: none;
	color: inherit;
	border: 1px solid gray;
}

/* --- Starting from the top --- */
.sidebar {
	background-color: rgb(75, 75, 75);
	border: 1px solid rgb(40, 40, 40);
}

.tab {
	background-color: rgb(55, 55, 55);
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	color: rgb(180, 180, 180);
}

.active-tab {
	background-color: inherit;
	border-bottom: none;
	color: rgb(230, 230, 230);
}

.tab:last-of-type {border-right: none;}

.sidebar section {border-top: 1px solid rgb(40, 40, 40);}

.selected-obj {background-color: rgb(95, 95, 95);}

/* --- Section colors --- */
.scene-tree-container h4 { /* white on black */
	background-color: rgba(0, 0, 0, .4);
}

.scene-tree-container menu {
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(40, 40, 40, .6);
}

.obj-info h4 {
	color: rgba(218, 84, 84, 0.82); /* red */
}

.comp-trans h4 {
	color: rgba(106, 168, 79, 1); /* green */
}

.comp-physics h4 {
	color: rgba(230, 145, 56, 1); /* orange */
}

.comp-script h4 {
	color: rgba(159, 197, 232, 1); /* blue */
}

.comp-mat h4 {
	color: rgba(255, 229, 153, 1); /* yellow */
}

/* --- Buttons --- */
.collapser {
	background: none;
	border: none;
}

.expanded {
	behavior: url(-ms-transform.htc);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

/* --- Extra flourishes --- */
.tiny-text {  /* Needs better name */
	font-size: .7rem;
}
