/* ==========================================================================
   Extra Resets
   ========================================================================== */

* { /* Need to replace this of course */
	box-sizing: border-box;
}

html, body {
	height: 100%;
	color: rgb(200, 200, 200);
}

ol, menu, nav, a, a:visited, a:link, input {
	padding: 0;
	margin: 0;
	color: inherit;
}

h1, h2, h3, h4 {
	font-size: 1rem;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

input {
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
}


/* ==========================================================================
   Structure
   ========================================================================== */
.page-column {
	display: inline-block;
}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
	overflow: scroll;
}

.tab {
	width: 50%;
	float: left;
	text-align: center;
}

.sidebar-body {
	padding: 30px 10px 0 10px;
}

.sidebar-section {
	position: relative; /* for abs pos children */
	padding: 5px 0;
}

.child {
	margin-left: 20px;
}

.transform-field {
	display: inline;
}

input[type=text] {
	margin: 0 0 4px 4px;
	padding-left: 4px;
	width: 200px;
}

input[type=text].var-name {
	width: 110px;
}

input[type=number] {
	margin: 0 0 4px 4px;
	padding-left: 4px;
	width: 50px;
}

input[type=color] {
	padding: 0;
	width: 20px;
	height: 24px;
}

.jumper {
	position: absolute;
	bottom: 0;
	right: 10px;
}


/* ==========================================================================
   Skin
   ========================================================================== */
h1 {
	font-size: 1.5rem;
	color: rgb(230, 230, 230);
}

h2 {
	font-size: 1.3rem;
	color: rgb(230, 230, 230);
}

h3 {
	color: rgb(230, 230, 230);
}

.sidebar {
	background-color: rgb(75, 75, 75);
	border: 1px solid rgb(40, 40, 40);
}

.tab {
	background-color: rgb(55, 55, 55);
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	color: rgb(180, 180, 180);
}

.active-tab {
	background-color: inherit;
	border-bottom: none;
	color: rgb(230, 230, 230);
}

.tab:last-of-type {
	border-right: none;
}

.sidebar-section {
	border-top: 1px solid rgb(40, 40, 40);
}

.selected-obj {
	background-color: rgb(95, 95, 95);
}

input {
	background: none;
	color: inherit;
	border: 1px solid gray;
}

.tiny-text {
	font-size: .7rem;
}
