/* ==========================================================================
   Extra Resets
   ========================================================================== */

html, body {
	height: 100%;
	width: 100%;
	border: 0;
}

body{
	font-family:"Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;
	color: rgb(200, 200, 200);
    font-size: 1em;
    line-height: 1.4;
}

/* Everything */
html, body, a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	box-sizing: border-box;
}

/* No button or select*/
html, body, a, a:link, a:visited, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, textarea {
	margin: 0;
	padding: 0;
}

/* No html or body */
a, a:link, a:visited, button, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, select, textarea {
	font-family: inherit;
}

/* No html, body, button, or select */
a, a:link, a:visited, div, fieldset, footer, form, header,
h1, h2, h3, h4, h5, h6, hr, input, legend, li, menu,
nav, ol, ul, section, textarea {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: bold;
}

a {text-decoration: none;}

li {list-style: none;}

input {border-spacing: 0;}

button, input, select, textarea {
	font-size: 100%;
	vertical-align: baseline;
}

fieldset {
	border: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}


/* ==========================================================================
   Structure
   ========================================================================== */

menu {padding-top: .2rem;}

li, legend {margin-bottom: .1rem;}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
	overflow: scroll;
}

.editors-tabs {
	position: absolute;
	top: 0;
	width: 100%;
}

.tab {
	width: 50%;
	float: left;
	text-align: center;
}

.sidebar section {
	position: relative; /* for abs pos children */
	padding: 5px 0;
	margin: 0 2.5%;
}

.child {margin-left: 20px;}

.inner-section {margin-bottom: 10px;}

.scene-tree {height: 150px;}

.transform-field {display: inline-block;}

input, select {
	margin: 0 0 4px 4px;
}

input[type=text] {
	padding-left: 4px;
	width: 200px;
}

input[type=text].var-name {
	width: 110px;
}

input[type=number] {
	padding-left: 4px;
	width: 50px;
}

input[type=color] {
	position: relative;
	bottom: -4px;
	margin-top: -10px;
	margin-bottom: -20px;
	padding: 0;
	width: 27px;
	height: 28px;
	border: none;
}

.jump-to-top {
	position: absolute;
	bottom: 0;
	right: 10px;
}

hr {
	margin: 0 auto;
	width: 95%;
	border-color: black;
}

/* ==========================================================================
   Functionality
   ========================================================================== */

.scrollable {overflow: scroll;}

.invisible {visibility: hidden;}

.hidden {
	display: none;
}

.faux-elem {
	visibility: hidden;
	margin-bottom: 10px; /* space between tabs and section line */
}

/* CSS transition attempts leftovers, didn't work, want to try again */
/*.collapsible {-webkit-transition: height .3s linear}*/

.collapsed {
	display: none;
	/*height: 0;*/
}


/* ==========================================================================
   Skin
   ========================================================================== */

/* --- Basic elements --- */

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4,.sidebar h5, .sidebar h6 {
	color: rgb(230, 230, 230);
}

/*h1 {font-size: 1.5rem;}

h2 {font-size: 1.3rem;}

h3 {font-size: 1.1rem;}

h4 {}*/

input {
	background: none;
	color: inherit;
	border: 1px solid gray;
}

/*button {
	color: rgb(40, 40, 40);
	border: 1px solid rgb(40, 40, 40);;
}*/

/* --- Starting from the top --- */
.sidebar {
	background-color: rgb(75, 75, 75);
	border: 1px solid rgb(40, 40, 40);
}

.tab {
	background-color: rgb(55, 55, 55);
	border-right: 1px solid rgb(40, 40, 40);
	border-bottom: 1px solid rgb(40, 40, 40);
	color: rgb(180, 180, 180);
}

.active-tab {
	background-color: inherit;
	border-bottom: none;
	color: rgb(230, 230, 230);
}

.tab:last-of-type {border-right: none;}

/*.sidebar section {border-top: 1px solid rgb(40, 40, 40);}*/

.selected-obj {background-color: rgb(95, 95, 95);}

/* --- Section colors --- */
.scene-tree-container h1 { /* white on black */
	background-color: rgba(0, 0, 0, .4);
}

.scene-tree-container menu {
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(40, 40, 40, .6);
}

.obj-info h1 {
	color: rgba(218, 84, 84, 0.82); /* red */
}

.comp-trans h1 {
	color: rgba(106, 168, 79, 1); /* green */
}

.comp-physics h1 {
	color: rgba(230, 145, 56, 1); /* orange */
}

.comp-script h1 {
	color: rgba(159, 197, 232, 1); /* blue */
}

.comp-mat h1 {
	color: rgba(255, 229, 153, 1); /* yellow */
}

/* --- Buttons --- */
.collapser {
	background: none;
	border: none;
}

.expanded {
	behavior: url(-ms-transform.htc);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

/* --- Extra flourishes --- */
.tiny-text {  /* Needs better name */
	font-size: .7rem;
}


/* ==========================================================================
   Print styles
   ========================================================================== */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}